---
import "../styles/global.scss";
import Header from "../components/FrontPageHeader.astro";
import { Image } from "astro:assets";
// import Swiper and modules styles
import "swiper/scss";
import "swiper/scss/pagination";
import "swiper/scss/autoplay";
import "swiper/scss/effect-fade";
import "../styles/my-swiper-styles.scss";
const FrontPagePhotos = await Astro.glob(
  "../images/front-page/2026/*.jpg"
).then((files) => {
  return files.map((file) => file.default);
});
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="/RPLGC-Favicon-2.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5P0H8MQSK7"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5P0H8MQSK7");
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <Header />

    <div class="swiper">
      <div class="swiper-wrapper">
        {
          FrontPagePhotos.map((FrontPagePhoto) => (
            <div class="swiper-slide">
              <Image src={FrontPagePhoto} alt="" loading="lazy" />
            </div>
          ))
        }
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>

    <!-- <div class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          {
            FrontPagePhotos.map((FrontPagePhoto) => (
              <li class="splide__slide">
                <div class="splide__slide__container">
                  <Image src={FrontPagePhoto} alt="" loading="lazy" />
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div> -->
    <div class="container">
      <h1 style="text-align: center;">{pageTitle}</h1>
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <script>
      // core version + navigation, pagination modules:
      import Swiper from "swiper";
      import { Autoplay, Pagination, EffectFade } from "swiper/modules";

      // init Swiper:
      const swiper = new Swiper(".swiper", {
        // configure Swiper to use modules
        modules: [Autoplay, Pagination, EffectFade],

        // Optional parameters
        // direction: "horizontal",
        // fadeEffect: { crossFade: true },
        loop: true,
        slidesPerView: 1,
        // spaceBetween: 10,
        // centeredSlides: true,
        speed: 1200,
        effect: "fade",
        autoplay: {
          delay: 6000,
          disableOnInteraction: false,
        },

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
        },
      });
    </script>
    <!-- <script>
      import "@splidejs/splide/css";
      import Splide from "@splidejs/splide";

      new Splide(".splide", {
        type: "fade",
        rewind: true,
        resetProgress: true,
        pauseOnFocus: false,
        speed: 1200,
        autoplay: true,
        interval: 6000,
        pauseOnHover: false,
        arrows: false,
        pagination: true,
        width: "1920px",
        height: "500px",
        cover: true,
        gap: "10vw",
        padding: 0,
      }).mount();
    </script> -->
  </body>
</html>
<style lang="scss">
  .swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
  }
  .swiper-slide img {
    display: block;
    // display: flex;
    // align-self: flex-start;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  }

  // .splide {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  // }
  // .splide__slide::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  // }
  // .splide__pagination__page {
  //   height: 3em;
  // }
  .container {
    margin-top: 450px;
  }
</style>
